<%- include('./partials/header') %>
<div class="container">
    <%- include('./partials/menu') %>
    <div class="content">
        <!-- Main content goes here -->
    </div>
</div>
<%- include('./partials/footer') %>
